body {
    font-family: Arial;
    text-align: center;
    background: #f4f4f4;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 80%;
}

th {
    background: #4CAF50;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    border: 1px solid #ddd;
}
